body {
  background-color: antiquewhite;
 font-style: italic;
}
.titles {
  text-align: center;
}
.both {
  float: left;
    clear: none; 
}
.image {
  text-align: left;
}
.list {
  position: absolute;
  right: 5px;
}


/* h2 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: left;
}

p {
  font-family: sans-serif;
  text-align: right;
}

ul {
  line-height: 40px;
} */